

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    --searchbar-fs:clamp(18px, 1.25vw + 0.3rem, min(40px,8vh));
}

h1{
    font-size: clamp(20px, 2.25vw + 0.6rem, min(80px,8vh));
    margin-top: 12vh;
    margin-bottom: 6vh;
}

.searchbar-and-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.search-bar{
    border: none;
    padding: 15px 30px;
    width: clamp(250px, 25vw + 10rem, 500px);
    font-size: var(--searchbar-fs);
    margin-right: 5px;
}

.search-btn{
    width: clamp(50px, 10vw, 100px);
    height: calc(var(--searchbar-fs) + 37px);
    font-size: var(--searchbar-fs);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    /* background-color: rgb(159, 201, 238); */
}

.multi-select{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

select{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin: 5px;
    height: 60px;
    font-size: clamp(20px, 1.25vw + 0.3rem, min(25px,6vh));
    cursor: pointer;
}

.exercises{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media (width < 980px) {
    .exercises{
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 620px) {
    .exercises{
        grid-template-columns: 1fr;
    }
}